<div class="card" *ngIf="product.title">
  <img
    class="card-img-top"
    *ngIf="product.imageUrl"
    [src]="product.imageUrl"
    alt="{{ product.title }}"
  />
  <div class="card-body">
    <h4 class="card-title" *ngIf="product.title">{{ product.title }}</h4>
    <p class="card-text" *ngIf="product.price > 0">
      {{ product.price | currency: "USD" }}
    </p>
  </div>
  <div *ngIf="showActions" class="card-footer p-0">
    <button
      *ngIf="getQuantity() === 0; else updateQuantity"
      class="btn btn-secondary btn-block"
      (click)="addToCart()"
    >
      Add to Cart
    </button>
    <ng-template #updateQuantity>
      <app-product-quantity
        [product]="product"
        [shopping-cart]="shoppingCart"
      ></app-product-quantity>
    </ng-template>
  </div>
</div>
