<nav
  class="navbar navbar-expand-lg navbar-light bg-light justify-content-between custom-navbar sticky-top"
>
  <a
    class="navbar-brand"
    [routerLink]="['/']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >eCommerce
  </a>
  <button
    class="navbar-toggler"
    (click)="isMenuCollapsed = !isMenuCollapsed"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    [ngbCollapse]="isMenuCollapsed"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav ml-auto">
      <ng-template #anonymousUser>
        <li class="nav-item" style="padding-top: 5px; padding-right: 10px">
          <a class="nav-link" [routerLink]="['/login']"> <b>Login</b></a>
        </li>
      </ng-template>
      <li
        class="nav-item dropdown"
        style="padding-right: 10px"
        *ngIf="appUser; else anonymousUser"
        ngbDropdown
      >
        <a
          class="nav-link dropdown-toggle"
          ngbDropdownToggle
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img [src]="appUser.photoUrl" class="user-image" />
          &nbsp;
          <b>{{ appUser.name }}</b>
        </a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" ngbDropdownItem routerLink="my/orders">
            My Order
          </a>
          <ng-container *ngIf="appUser.isAdmin">
            <a
              class="dropdown-item"
              ngbDropdownItem
              routerLink="admin/products"
            >
              Manage Products
            </a>
            <a class="dropdown-item" ngbDropdownItem routerLink="admin/orders">
              Manage Orders
            </a>
          </ng-container>

          <a
            class="dropdown-item"
            ngbDropdownItem
            (click)="logOut()"
            *ngIf="appUser"
          >
            <b>Log Out</b>
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link custom-pos" [routerLink]="['/shopping-cart']">
          <i class="fa fa-shopping-cart custom-icon"></i>
          &nbsp;<b>Cart</b>
        </a>
      </li>
    </ul>
  </div>
</nav>
