.user-image {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
}

.custom-icon {
  font-size: 28px;
}

.custom-pos {
  padding-top: 10px;
  padding-right: 20px;
}

/* .custom-navbar {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;
  color: #fff !important;
  background-color: #2196f3 !important;
  position: sticky;
  top: 0;
} */

.logo-img {
  margin-left: 40px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.logo-text {
  color: coral;
}
