<!-- Confirm Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Are you sure??</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.close('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      All information associated to this product will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.close('cancel click')"
    >
      Cancel
    </button>
    <button type="button" class="btn btn-danger" (click)="modal.close('yes')">
      Ok
    </button>
  </div>
</ng-template>
<!-- New Product Button -->
<div class="float-right mb-3">
  <a [routerLink]="['/admin/products/new']" class="btn btn-primary">
    New Product
  </a>
</div>
<!-- Serach Text Button -->
<input
  #query
  (keyup)="filter(query.value)"
  type="text"
  class="form-control my-2"
  placeholder="Search Here.."
/>
<!-- Table of Product -->
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" [appSort]="filterProducts" data-order="desc" data-name="title">Title</th>
      <th scope="col" [appSort]="filterProducts" data-order="desc" data-name="price">Price</th>
      <th scope="col" [appSort]="filterProducts" data-order="desc" data-name="category">Category</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let p of filterProducts | slice: (page - 1) * pageSize:page * pageSize;
        index as i
      "
    >
      <th scope="row">{{ (page - 1) * pageSize + i + 1 }}</th>
      <td>{{ p.title }}</td>
      <td>{{ p.price }}</td>
      <td>{{ p.category }}</td>
      <td>
        <button
          [routerLink]="['/admin/products', p.key]"
          class="btn btn-warning ml-2"
        >
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
        <button class="btn btn-danger ml-2" (click)="onDelete(content, p.key)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<ngb-pagination
  [collectionSize]="collectionSize"
  [(page)]="page"
  [maxSize]="5"
  [boundaryLinks]="true"
  [pageSize]="pageSize"
  class="d-flex justify-content-center"
></ngb-pagination>
<!--         *ngFor="let country of countries | listFilter: searchTerm | slice: (page-1) * pageSize : page * pageSize; index as i" -->
